<meta charset="UTF-8">
<title>Super Awesome</title>

<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/leaflet.css' />


<style>
    body    { padding-top:50px; }
</style>