<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/place/nearbysearch/json?key=AIzaSyBhHSkqeDNjMSg7kqGISx8V1mBTg1eWO2E&location=location=51.52864165,-0.10179430&radius=16000&sensor=false&types=restaurant&keyword=food%20trailers">
    </script>

  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>