<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="wrapper">
              <header>
                <h1>Real-Time Geolocation Service with Node.js</h1>
                <div class="description">Using HTML5 Geolocation API and Web Sockets to show connected locations.</div>
              </header>
                <div id="infobox" class="infobox"></div>
                <div id="map" style="width: 600px; height: 400px"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h1>This is great</h1>
                    <p>Welcome to templating using EJS</p>
                </div>
                
            </div>
            <div class="col-sm-4">
                
                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>

            </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascripts/mapping.js"></script>
</body>
</html>